
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  background: transparent;
  width: 3px;
  /* padding-right: 3px */
  left: -100px;
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background: #84878d;
  border-radius: 15px;
}



.more-items {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: proximity;
  /* position: relative; */
}

.more-items li {
  margin: 5px;
  width: 200px;
  height: 8rem;
  align-items: center;
}
/* .nav-wrapper > .nav-anchor {
  text-decoration: none;
  background-size: 0% 100%;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  transition: all .4s ease-in-out;
  color: white;
} */

/* .nav-wrapper > .nav-anchor:hover {
  cursor: pointer;
  z-index: 1;
  color: black;
  background-size: 100% 100%;
} */

.nav-anchor::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width .4s ease-in;          
}

.nav-anchor:hover::after {
  width: 100%;
}
.nav-anchor:hover, .nav-icon:hover {
  color: #ced1d7;
  transition: .4s;
}